<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - cardiking</title>
    <link rel="stylesheet" href="../Style/home.css">
</head>
<body>
    <header class="headerHome">
        <a href="../index.html">Login/Cadastro</a>
        <img src="../img/cardking.png" alt="Logo do site" class="logo">
    </header>
    <h1 class="titulohome"> Escolha aqui o seu card</h1>
    <section class="cards-dection">
        <div class="card-container">

        </div>
    </section>
</body>
</html>